{% macro rating(level, tag = "div") %}
	{% set name = level|capitalize ~ " Rating" %}
	<{{ tag }} class="seo--light {{ level }}" title="{{ name }}">
		{{ name }}
	</{{ tag }}>
{% endmacro %}

{% import _self as _ %}
{% import '_includes/forms' as _forms %}

<div class="seo--wrap" id="{{ id }}Field">

	<div class="seo--tab active" data-seo-tab="optimisation">

		{% if not hasPreview %}
		<div class="seo--preview-dependent">
			{% endif %}
			{# Keyword Input #}
			<input
				type="hidden"
				id="{{ id }}Keywords"
				name="{{ name }}[keywords]"
				value="{{ value.keywords|json_encode }}"
			>
			<input
				type="hidden"
				id="{{ id }}Score"
				name="{{ name }}[score]"
				value="{{ value.score }}"
			>
			<div class="seo--keywords-input" id="{{ id }}KeywordsInput">
				{# Keywords populated by magic #}

				{% if isPro %}
					<input placeholder="Type a keyword then hit enter to add...">
				{% else %}
					{# Only show if we've already got a keyword #}
					<input placeholder="Go pro to add more keywords!" disabled>
				{% endif %}
			</div>

			{# Keyword Details #}
			<div class="seo--panel">

				{# Keyword Details: Name #}
				<header class="seo--keywords-details-header">
					<h2 class="seo--keywords-details-keyword"
					    id="{{ id }}Keyword">
						<em>No Keyword Selected</em>
					</h2>

					<div class="seo--keywords-details-rating"
					     id="{{ id }}Rating">
						{{ _.rating("neutral") }}
						Not yet rated
					</div>
				</header>

				{# Keyword Details: Checklist #}
				<div class="seo--label">
					<div>
						<em>{{ "Optimisation Checklist" | t }}</em>
						{{ "Use this handy chart to optimise your page for the desired keywords"|t }}
					</div>
				</div>

				<div class="seo--keywords-details-bar"
				     id="{{ id }}KeywordBar">
					<div class="good"></div>
					<div class="average"></div>
					<div class="poor"></div>
				</div>

				<ul class="seo--keywords-details-checklist"
				    id="{{ id }}KeywordChecklist">
					<li style="text-align:center">
						No keyword selected
					</li>
				</ul>
			</div>
			{% if not hasPreview %}
			{# End .seo--preview-dependent #}
		</div>
		{% endif %}
	</div>

</div>
